.dashboard {
    min-height: 100vh;
    background-color: #eceff1;
    padding: 25px 40px;
    font-family: "Segoe UI", sans-serif;
}

.hero {
    background: #1e293b;
    color: white;
    padding: 50px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
